{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if app.user %}
        <h1>vous êtes connecté {{ app.user.pseudo }}</h1>
    {% else %}
        <h1>Personne n'est connecté</h1>
    {% endif %}

{% endblock %}