.lien {
    color: #144A7F;
}
.logo {
    width: 62px;
    height: 62px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.navLink {
    color: #144A7F;
    font-size: x-large;
    margin-right: 15px;
}
.menu-lien {
    margin-top: 20px;
    float: right;
}
.btn  {
    background: #144A7F;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 8px;
    border-color: black;
}
.btn:hover{
    background: #FFFFFF;
    color: #144A7F;
    border-color: #144A7F;
}
.card{

    width: 40%;
    min-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    border: 2px solid #E0E0E0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 2px 2px #B6B6B6;
    width: 30%;
    min-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main h2{
    color: #144A7F;
}
.box-form{
    width: 38%;

    min-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
label{
    color: #343a40;
}
input{
    border: 1px solid #144A7F;
}

.participantDate {
    float: right;
}
.tabSorties{
    border: 2px solid #144A7F;
    width: 100%;
}
.tSortie:nth-child(2n) {
    background-color: #E0E0E0;
}
.trSortie{
    background-color: #144A7F;
    color: white;
}
.addLieuBtn > div:hover{
    background: #FFFFFF;
    color: #144A7F;
    border-color: #144A7F;
}

.addLieuBtn >div {
    background: #144A7F;
    width: 30px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    border-color: #144A7F;
}
.addLieuBtn>div>a{
    color: white;
    text-decoration: none;
}
.addLieuBtn > div> a:hover{
    color: #144A7F;
}
h6{
    font-style: italic;
}
.addSortieBtn{
    margin-right: auto;
    margin-left: auto;
}