.lien {
    color: #144A7F;
}
.logo {
    max-width: 62px;
    max-height: 62px;
    width: 20%;
    height: 20%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.navLink {
    color: #144A7F;
    font-size: 150%;
    margin-right: 15px;
}
.menu-lien {
    margin-top: 20px;
    float: right;
}
.btn  {
    background: #144A7F;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 8px;
    border-color: black;
}
.btn:hover{
    background: #FFFFFF;
    color: #144A7F;
    border-color: #144A7F;
}
.card{

    width: 30%;
    min-height: 300px;
    min-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modifProfil {
    margin-left: 20%;
}

.mfModifProfil{
    border: 2px solid #E0E0E0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 2px 2px #B6B6B6;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
}
.afModifProfil{
    border: 2px solid #E0E0E0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 2px 2px #B6B6B6;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 30%;
}
main h2{
    color: #144A7F;
}
label{
    color: #343a40;
}
input{
    border: 1px solid #144A7F;
}

.participantDate {
    float: right;
}
.tabSorties{
    border: 2px solid #144A7F;
    width: 100%;
}
.tSortie:nth-child(2n) {
    background-color: #E0E0E0;
}
.trSortie{
    background-color: #144A7F;
    color: white;
}
.addLieuBtn > div:hover{
    background: #FFFFFF;
    color: #144A7F;
    border-color: #144A7F;
}

.addLieuBtn >div {
    background: #144A7F;
    width: 30px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    border-color: #144A7F;
}
.addLieuBtn >div:hover {
    color: #144A7F;
    border-color: #144A7F;
}
.addLieuBtn>div>a{
    text-decoration: none;
    color: white;
}
.addLieuBtn > div> a:hover{
    color: #144A7F;
}
h6{
    font-style: italic;
}

.minutes{
    font-style: italic;
    font-weight: normal;
}
.mfAnnulerSortie{
    border: 2px solid #E0E0E0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 2px 2px #B6B6B6;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 30%;
}
.annulerBtn {
    color: white;
    text-decoration: none;
}
.annulerBtn:hover {
    color: #144A7F;
}
.tristesse{
    border: 2px solid #E0E0E0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 2px 2px #B6B6B6;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 25%;
}
.tristesse>p {
    color: #bb2d3b;
    font-size: x-large;
    font-weight: bold;
}
.tristesse>table{
    margin-left: 60px;
}

.flash {
    font-weight: bold;
    color: darkseagreen;
    padding-left: 5%;
    font-size: 1.4rem;
}