.lien {
    color: #144A7F;
}
.logo {
    width: 62px;
    height: 62px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.navLink {
    color: #144A7F;
    margin-right: 20px;
    font-size: x-large;
}
.menu-lien {
    margin-top: 20px;
}
.btn  {
    background: #144A7F;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 8px;
}
.btn:hover{
    background: #FFFFFF;
    color: #144A7F;
    border-color: #144A7F;
}
.card{
    margin: auto;
    width: 450px;
}