{% extends 'base.html.twig' %}

{% block title %} Erreur 403{% endblock %}

{% block body %}
 <h6>Erreur 403</h6>
    <p>Oups, vous êtes perdu. Voulez-vous allez à la <a href="{{ path('sortie') }}">page d'accueil</a> ?</p>
{% endblock %}



