{% extends 'base.html.twig' %}

{% block title %} Erreur 404{% endblock %}

{% block body %}
 <h6>Erreur 404</h6>
    <p>La page demandée n'a pas été trouvée. Voulez-vous allez à la <a href="{{ path('sortie') }}">page d'accueil</a> ?</p>
{% endblock %}



